{% extends "template/layout.html" %}

{% block title %}Pill Good{% endblock %}

{% block body %}
{% include "template/nav.html" %}

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="{{ url_for('static', filename='image/background1.jpeg') }}"></div>
</div>


<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">빠르게</h5>
          <p class="light center">병원에서 어떤 약을 먹냐고 물어본 경험이 있으신가요? 앱을 통해 빠르고 쉽게 복용했던 약에 대해 알려 줄 수 있습니다.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">안전하게</h5>

          <p class="light center">자녀 혹은 부모님이 약을 잘 드셨는지 걱정됬던 적이 있으셨나요? 이 앱을 통해서 약을 복용했는지 확인할 수 있어요.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">편리하게</h5>
          <p class="light center">먹던 약이 무슨 약인지 궁금했던 경험이 있나요? 저희는 공공 데이터를 활용해서 알약에 대한 정보를 수집하였고 이를 바탕으로 쉽게 약에 대한 정보를 제공합니다.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12"></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{ url_for('static', filename='image/background2.jpeg') }}"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Pill Good은...</h4>
        <p class="left-align light">우리는 건강을 생각합니다. 약에 대해 쉽게 정보를 제공하고 복용 일정을 관리해주어 당신이 약을 오남용하는 것을 방지하고 효과적으로 복용할 수 있도록 도와드리겠습니다. 
            바쁜 하루에서 건강을 챙기는 한 알, Pillgood을 통해 안전하게 관리하세요!</p>
      </div>
    </div>

  </div>
</div>

<div class="parallax-container valign-wrapper" style="min-height: 600px;">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12"></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{ url_for('static', filename='image/background3.jpeg') }}"></div>
</div>

<footer class="page-footer" style="height: 200px; background-color: white;">
</footer>
{% endblock %}