{% extends "template/layout.html" %}

{% block title %}처방전 QR코드 생성 - Pill Good{% endblock %}

{% block body %}
{% include "template/nav.html" %}


<div class="container">
    <div class="row" style="margin-top: 5%; margin-bottom: 5%;">
        <h5>처방전 QRCode 생성</h5>
        <blockquote>
            데이터를 바탕으로 QRCode가 생성됩니다.
            추후 처방전에 포함되거나 하여 알약 정보를 기입할 필요없이 바로 입력할 수 있습니다.
        </blockquote>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="row">
                <form class="col s12">
                    <h6>병원 정보</h6>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="코코팜 병원" id="hospital_name" type="text" class="validate">
                            <label for="hospital_name">의료기관 명칭</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="T. 055-931-8460" id="hospital_tel" type="text" class="validate">
                            <label for="hospital_tel">전화</label>
                        </div>
                    </div>

                    <h6>환자 정보</h6>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="홍길동" id="user_name" type="text" class="validate">
                            <label for="user_name">이름</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="950123-1023456" id="user_id" type="text" class="validate">
                            <label for="user_id">주민등록번호</label>
                        </div>
                    </div>

                    <div class="row" style="margin-left: 0px; margin-right: 0px;">
                        <h6>약</h6>
                        <button data-target="modal1" class="btn right black modal-trigger"><i class="material-icons left">add</i>약 추가</button>
                    </div>

                    <div class="row" style="margin-left: 0px; margin-right: 0px;">
                        <ul class="collection">
                            <li class="collection-item">
                                <div class="row" style="margin-bottom: 0px;">
                                    <div class="col s4">
                                        처방 의역품 명칭
                                        </div>
                                    <div class="col s2">
                                        1회 투여량
                                    </div>
                                    <div class="col s2">
                                        1일 투여횟수
                                    </div>
                                    <div class="col s2">
                                        투약일수
                                    </div>
                                    <div class="col s2">
                                        용별
                                    </div>
                                </div>
                            </li>
                            <li id="pill-template" class="collection-item" style="display: none;">
                                <div class="row" style="margin-bottom: 0px;">
                                    <div id="pill_name" class="col s4">
                                        가야산 천년수
                                    </div>
                                    <div id="one_dose" class="col s2">
                                        200L
                                    </div>
                                    <div id="day_dose" class="col s2">
                                        1
                                    </div>
                                    <div id="dose_days" class="col s2">
                                        1
                                    </div>
                                    <div id="dose_time" class="col s2">
                                        식전후 30분
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col s12" style="padding: 0px;">
                        <a id="submit" class="waves-effect waves-light btn blue right" style="width: 100%;"><i class="material-icons left">send</i>제출</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h5>새 약 등록</h5>
        <div class="row" style="margin-top: 24px; margin-bottom: 0px;">
            <div class="col s4">
                <div class="input-field">
                    <input placeholder="타이레놀" id="pill_name" type="text" class="validate">
                    <label for="pill_name">처방 의약품 명칭</label>
                </div>
            </div>
            <div class="col s2">
                <div class="input-field">
                    <input placeholder="1mg" id="one_dose" type="text" class="validate">
                    <label for="on_dose">1회 투여량</label>
                </div>
            </div>
            <div class="col s2">
                <div class="input-field">
                    <input placeholder="3" id="day_dose" type="number" class="validate">
                    <label for="day_dose">1일 투여횟수</label>
                </div>
            </div>
            <div class="col s2">
                <div class="input-field">
                    <input placeholder="3" id="dose_days" type="number" class="validate">
                    <label for="dose_days">투약 일수</label>
                </div>
            </div>
            <div class="col s2">
                <div class="input-field">
                    <input placeholder="식전 30분" id="dose_time" type="text" class="validate">
                    <label for="dose_time">용별</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a id="save_pill" class="modal-close waves-effect waves-blue btn-flat">추가</a>
        <a href="#!" class="modal-close waves-effect waves-red btn-flat">취소</a>
    </div>
</div>

<div id="modal2" class="modal">
        <div class="modal-content">
            <h5>QR코드</h5>
            <img id="qrcode" width="256" class="center"></img>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-red btn-flat">닫기</a>
        </div>
    </div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/qrcode.js') }}"></script>
{% endblock %}